<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyf.dao.ApplicationFormDao">
	<resultMap type="ApplicationForm" id="ApplicationFormMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="student_id" property="student_id" jdbcType="INTEGER" />
		<result column="volunteer_id" property="volunteer_id" jdbcType="INTEGER"/>
	</resultMap>
	<insert id="insert" parameterType="ApplicationForm">
		insert into
		application_form(student_id,volunteer_id) value
		(#{student_id},#{volunteer_id})
	</insert>
	<select id="selectByLogin_id" parameterType="int" resultMap="ApplicationFormMap">
		select * from application_form where
		student_id = #{student_id}
	</select>
	<select id="selectByVolunteer_id" parameterType="int" resultMap="ApplicationFormMap">
		select * from application_form where
		volunteer_id = #{volunteer_id}
	</select>
	<select id="selectByVolunteer" parameterType="ApplicationForm" resultMap="ApplicationFormMap">
		select * from application_form where
		student_id = #{student_id} and volunteer_id = #{volunteer_id}
	</select>
	<delete id="delete" parameterType="int">
		delete from application_form where
		id = #{id}
	</delete>
	<!-- <delete id="delete" parameterType="int">
		update chair set status = 0 where
		id = #{id}
	</delete>
	<update id="update" parameterType="chair">
		<trim prefixOverrides=",">
			update chair set
			<if test="activity_time != null">activity_time = #{activity_time}</if>
			<if test="description != null">,description = #{description}</if>
			<if test="chair_professor != null">,chair_professor = #{chair_professor}</if>
			<if test="address != null">,address = #{address}</if>
			<if test="status != 2">,status = #{status}</if>
			,release_time = #{release_time}
			where id = #{id}
		</trim>
	</update> -->
	<!-- <select id="selectAll" resultMap="chairMap">
		select * from chair where
		status = 1 order by activity_time
	</select>
	<select id="selectAllByman" resultMap="chairMap">
		select * from chair order by activity_time
	</select>
	<select id="selectByLogin_id" parameterType="int" resultMap="chairMap">
		select * from chair where
		login_id = #{login_id} order by activity_time
	</select>
	<select id="selectById" parameterType="int" resultMap="chairMap">
		select * from chair where
		id = #{id} order by activity_time
	</select>
	<select id="selectByStringAndLoginId" parameterType="string" resultMap="chairMap">
		select * from chair where (description like "%"#{description}"%" or
		chair_professor like "%"#{chair_professor}"%" or address like
		"%"#{address}"%") order by activity_time
	</select> -->
	<!-- 查询时间段？？？？？ -->
	<!-- <select id="selectByTime" parameterType="ArrayList<Date>" resultMap="chairMap"> 
		select * from chair between activity_time >= #{} </select> -->
</mapper>