<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyf.dao.LoginDao">
	<resultMap type="login" id="loginMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER"/>
	</resultMap>
	<insert id="insert" parameterType="login">
		insert into login(name,pwd,code) value (#{name},Md5(#{pwd}),#{code})
	</insert>
	<delete id="delete" parameterType="int">
		update login set status = 0 where id = #{id}
	</delete>
	<update id="update" parameterType="login">
		<trim prefixOverrides=",">
			update login set
			<!-- <if test="name != null">name = #{name}</if> -->
			<if test="pwd != null">pwd = Md5(#{pwd})</if>
			<if test="code != null">,code = #{code}</if>
			<if test="status != null">,status = #{status}</if>
			where id = #{id}
		</trim>
	</update>
	<update id="updateByName" parameterType="login">
		<trim prefixOverrides=",">
			update login set
			<!-- <if test="name != null">name = #{name}</if> -->
			<if test="pwd != null">pwd = Md5(#{pwd})</if>
			<if test="code != null">,code = #{code}</if>
			<if test="status != null">,status = #{status}</if>
			where name = #{name}
		</trim>
	</update>
	<select id="selectByLogin" parameterType="login" resultMap="loginMap">
	select * from login where name = #{name} and pwd = Md5(#{pwd})
	</select>
	<select id="selectByLogin_id" parameterType="int" resultMap="loginMap">
	select * from login where id = #{id}
	</select>
	<select id="selectAll" resultMap="loginMap">
		select * from login 
	</select>
	<select id="selectByName" parameterType="string" resultMap="loginMap">
		select * from login where name like "%"#{name}"%"
	</select>
	<select id="selectByNameA" parameterType="string" resultMap="loginMap">
		select * from login where name = #{name}
	</select>
	<select id="selectByCode" parameterType="int" resultMap="loginMap">
		select * from login where code = #{code}
	</select>
	<select id="selectByStatus" parameterType="int" resultMap="loginMap">
		select * from login where status = #{status}
	</select>
 	<select id="selectByString" parameterType="string" resultMap="loginMap">
	select * from login where name like "%"#{name}"%" or pwd like "%"Md5(#{pwd})"%"
	</select>
</mapper>