<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>qingke</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>user</param-name>
  	<param-value>zhaoheqiang</param-value>
  </context-param>
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<servlet-class>com.zhq.controller.HomeServlet</servlet-class>
  	<init-param>
  		<param-name>action</param-name>
  		<param-value>homeServlet</param-value>
  	</init-param>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>UTF8</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/home.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>main</servlet-name>
  	<servlet-class>com.zhq.controller.MainServlet</servlet-class>
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>二狗子</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>main</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>