<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mall.demo.mybatis.mapper.OrderMapper">
	<resultMap id="OrderResultMap" type="Order">
		<id column="id" property="orderId" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="VARCHAR"/>
		<result column="last_time" property="lastTime" jdbcType="TIMESTAMP"/>
		<association property="user" column="user_id" 
			javaType="User"
			select="mall.demo.mybatis.mapper.UserMapper.selectById" />
	</resultMap>
	
	<resultMap id="OrderDetailResultMap" type="OrderDetail">
		<id column="id" property="orderDetailId" jdbcType="INTEGER" />
		<result column="order_id" property="orderId" jdbcType="INTEGER" />
		<result column="product_id" property="productId" jdbcType="INTEGER" />
		<result column="order_price" property="orderPrice" jdbcType="DECIMAL" />
		<result column="amount" property="amount" jdbcType="INTEGER"/>
		
		<association property="product" column="product_id" 
			javaType="Product"
			select="mall.demo.mybatis.mapper.ProductMapper.getProductById" />
	</resultMap>
	
	<select id="selectByUserId" parameterType="int"
	    resultMap="OrderResultMap">
		select * from `order` where user_id = #{id}    
	</select>
	
	<select id="selectAllOrders" resultMap="OrderResultMap">
		select * from `order`
	</select>
	
	<select id="selectOrderByOrderId" resultMap="OrderResultMap"
		parameterType="int">
		select * from `order` where id = #{id}
	</select>
	
	<select id="selectDetailByOrderId" parameterType="int"
	    resultMap="OrderDetailResultMap">
		select * from order_detail where order_id = #{id}    
	</select>
	
	<insert id="addOrder" parameterType="Order" keyProperty="orderId"
		useGeneratedKeys="true">
		insert into `order` (code, user_id, total_price, status, last_time)
			values(#{code}, #{userId}, #{totalPrice},
			#{status}, #{lastTime})			
	</insert>

	<insert id="addOrderDetail" parameterType="OrderDetail" keyProperty="orderDetailId"
		useGeneratedKeys="true">
		insert into order_detail (order_id, product_id, order_price, amount)
			values(#{orderId}, #{productId}, #{orderPrice},
			#{amount})			
	</insert>
	
	<update id="updateOrderStatus" parameterType="Order">
		update `order` set status = #{status} ,
		last_time = #{lastTime}
		where id = #{orderId}
	</update>
	
</mapper>